.notecard {
    
    box-sizing: border-box;

    width: 450px;
    /* height: 150px;  */
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 20px;
    
    border-radius: 8px;
    background-color: #212121;

    display: flex;

}


.note-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .note-body {
    font-size: 14px;
    font-weight: 400;
    color: #939393;
  }

.notecard-left {
    flex: 1 0 auto;
    width: 60%;
    background-color: blue
}
.notecard-right {
    width: 30px;
    margin-left:auto;
    background-color: green;
    flex: 0 1 auto;
}

.notecard-main-content {
    display: flex;

}

.notecard-thumbnail {
    width: 70px;
    height: 70px;

    object-fit: cover;
    border-radius: 5px;


}

.notecard-text {
    margin-top: 25px;
    margin-left: 20px;
    
}
.notecard-footer {
    margin-top: 15px;
    font-size: 12px;
    color: #595959;
}