body {
    font-family: Roboto, Arial, Helvetica, sans-serif
}

.notecard {
    background-color: green;
    width: 450px;
    height: auto;
    border-radius: 8px;

    /* top left down right*/
    margin: 150px auto 0px auto;
    
    padding: 20px;
    box-sizing: border-box;

}